.forecast-display {
    display: flex;
    flex-direction: row;

    .forecast-day-display{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 8px;
    }

    .forecast-day-text {
        font-weight: 600;
    }

    .forecast-temp-display{
        margin-top: 5px;
        color: grey;
    }

    .forecast-temp-day {
        font-weight: bold;
    }

    .forecast-slash{
        font-size: 12px;
    }
}