  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 500;
  }

  .toolbar span {
    margin: 0 16px;
  }

  .weather-card {
    max-width: 500px;
    margin: 16px;
  }

  .error-text {
    color: red;
    font-style: italic;
    font-size: 12px;
  }
  